# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

\.idea/
cmake-build-debug-mingw/
cmake-build-debug/
cmake-build-release/
res/dutch\.png
res/big\.png
/cmake-build-package/
/cmake-build-release/
/cmake-build-debug/
